@charset "utf-8";

@use "sass:math" as *;


@mixin line-height($line-height: 1.4) {
  line-height: $line-height;
  &::before {
    width: 0px;
    height: 0px;
    margin-block-start: div($line-height - 1, 2) * -1em;
    display: block;
    content: "";
  }
  &::after {
    width: 0px;
    height: 0px;
    margin-block-end: div($line-height - 1, 2) * -1em;
    display: block;
    content: "";
  }
}
