@charset "utf-8";


@font-face {
  font-family: "Brill Local";
  src: local("brill-roman");
  font-weight: normal;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  font-display: block;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bold");
  font-weight: bold;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  font-display: block;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-italic");
  font-weight: normal;
  font-style: italic;
  ascent-override: 90%;
  descent-override: 20%;
  font-display: block;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bolditalic");
  font-weight: bold;
  font-style: italic;
  ascent-override: 90%;
  descent-override: 20%;
  font-display: block;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Inter Local";
  src: local("Inter-Regular");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-display: block;
}

@font-face {
  font-family: "Inter Local";
  src: local("Inter-Bold");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-display: block;
}

@font-face {
  font-family: "Vekos Web";
  src: url("http://ziphil.com/material/font/7.woff") format("woff"), url("http://ziphil.com/material/font/7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Gilit Web";
  src: url("https://ziphil.com/material/font/10.woff") format("woff"), url("https://ziphil.com/material/font/10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}