@charset "utf-8";

@use "sass:math" as *;
@use "../common.scss" as *;
@import "../reset.scss";
@import "../font.scss";


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $serif-font-family;
  font-feature-settings: "palt" 1, "pkna" 1, "lnum" 1;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.main {
  width: 1920px;
  height: 1080px;
  background-color: white;
  display: flex;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}

.left {
  width: 780px;
  padding-inline-end: 108px;
  padding-inline-start: 108px;
  row-gap: 48px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  &::after {
    inset: 0px;
    inset-inline-start: -480px;
    background-color: $blue-color;
    transform: skew(-8deg, 0deg);
    z-index: 0;
    position: absolute;
    content: "";
  }
  & >* {
    z-index: 1;
  }
}

.right {
  padding-inline-start: 108px;
  padding-inline-end: 108px;
  row-gap: 72px;
  color: hsl(0, 0%, 30%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 auto;
}

.number {
  width: 204px;
  height: 170px;
  inset-block-start: 42px;
  inset-inline-start: 36px;
  font-family: "Josefin Sans";
  font-size: 120px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.ornament {
  width: 180px;
  height: 180px;
  position: absolute;
  &::before {
    width: 100%;
    height: 9px;
    position: absolute;
    content: "";
  }
  &::after {
    width: 9px;
    height: 100%;
    position: absolute;
    content: "";
  }
  &[data-position="left"] {
    inset-block-start: 18px;
    inset-inline-start: 18px;
    &::before,
    &::after {
      inset-block-start: 0px;
      inset-inline-start: 0px;
      background-color: white;
    }
  }
  &[data-position="right"] {
    inset-block-end: 18px;
    inset-inline-end: 18px;
    &::before,
    &::after {
      inset-block-end: 0px;
      inset-inline-end: 0px;
      background-color: $orange-color;
    }
  }
}

.name {
  margin-inline-end: -0.05em;
  font-size: 120px;
  font-family: $shaleian-font-family;
  font-weight: bold;
  text-align: end;
  letter-spacing: 0.03em;
}

.equivalent {
  @include line-height;
  font-size: 54px;
  text-align: end;
}

.sentence {
  @include line-height;
  font-size: 72px;
  font-weight: bold;
  &[data-font="shaleian"] {
    font-family: $shaleian-font-family;
    font-size-adjust: cap-height 0.71;
  }
  &[data-font="sans"] {
    font-family: $sans-font-family;
  }
}

.translation {
  @include line-height;
  font-size: 48px;
}

em {
  color: $orange-color;
}